html {
    font-size: 14px;
    background-color:white;
    
 
}

@media (min-width: 768px) {
    html {
        font-size: 17px;

    }
}

html {
    position: relative;
    
}

body {
    margin-bottom: 320px;
    color: steelblue;
    text-align: center;
    
}
